In [13]:
from moexalgo import Market, Ticker

In [14]:
# Акции SBER
sber = Ticker('SBER')

# Все акции
stocks = Market('stocks')

## Candles
<p>Классические свечи OHLCV. Гранулярность данных 1 мин (1m), 10 мин (10m), 1 час (60m), 1 день (1d)</p>

In [11]:
# Свечи по акциям SBER за период
sber.candles(date='2023-10-01', till_date='2023-10-31', period='10m')

,open,close,high,low,value,volume,begin,end
0,261.37,261.37,261.37,261.37,33225354.4,127120.0,2023-10-02 09:50:00,2023-10-02 09:59:59
1,261.38,261.21,261.92,260.81,469241525.1,1795390.0,2023-10-02 10:00:00,2023-10-02 10:09:59
2,261.20,260.89,261.24,260.81,322665356.3,1236340.0,2023-10-02 10:10:00,2023-10-02 10:19:59
3,260.89,260.88,261.25,260.72,255361856.8,978860.0,2023-10-02 10:20:00,2023-10-02 10:29:59
4,260.88,260.23,260.94,260.00,484928652.5,1862220.0,2023-10-02 10:30:00,2023-10-02 10:39:59
...,...,...,...,...,...,...,...,...
1821,268.18,268.30,268.49,268.17,25323375.0,94360.0,2023-10-31 23:00:00,2023-10-31 23:09:59
1822,268.31,268.31,268.48,268.10,27503423.6,102520.0,2023-10-31 23:10:00,2023-10-31 23:19:59
1823,268.31,268.27,268.31,268.27,5205007.6,19400.0,2023-10-31 23:20:00,2023-10-31 23:29:59
1824,268.27,268.38,268.43,268.23,12659354.0,47180.0,2023-10-31 23:30:00,2023-10-31 23:39:59
1825,268.30,268.35,268.47,268.17,22368807.0,83370.0,2023-10-31 23:40:00,2023-10-31 23:49:59

## Tradestats
<p>Торговая статистика на основе <b>сделок</b>. Гранулярность данных 5 мин.</p>

In [14]:
# Данные по акциям SBER за период
sber.tradestats(date='2023-10-10')#, till_date='2023-12-01')

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
0,SBER,2023-12-01,10:05:00,277.04,277.86,276.67,277.31,0.0001,80741,223654120.0,...,1115,1110,112902165.0,110751955.0,40756,39985,0.01,277.02,276.98,2023-12-01 10:05:10
1,SBER,2023-12-01,10:10:00,277.32,277.39,276.30,276.36,0.0001,69886,193436342.0,...,923,821,95609891.0,97826451.0,34540,35346,-0.01,276.81,276.77,2023-12-01 10:10:10
2,SBER,2023-12-01,10:15:00,276.37,276.52,275.83,275.88,0.0001,60859,168015549.0,...,775,782,71394099.0,96621449.0,25860,34999,-0.15,276.08,276.07,2023-12-01 10:15:10
3,SBER,2023-12-01,10:20:00,275.87,276.25,275.86,276.15,0.0001,49739,137312544.0,...,723,715,67890108.0,69422435.0,24592,25147,-0.01,276.07,276.07,2023-12-01 10:20:10
4,SBER,2023-12-01,10:25:00,276.15,276.16,275.60,275.61,0.0000,53842,148521770.0,...,771,739,80731043.0,67790726.0,29265,24577,0.09,275.86,275.83,2023-12-01 10:25:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,SBER,2023-12-01,18:20:00,275.23,275.33,274.74,274.77,0.0001,19046,52378050.0,...,300,269,28080063.0,24297986.0,10211,8835,0.07,275.00,275.02,2023-12-01 18:20:10
100,SBER,2023-12-01,18:25:00,274.75,274.77,274.25,274.51,0.0001,26566,72914613.0,...,336,389,32616771.0,40297842.0,11883,14683,-0.11,274.48,274.45,2023-12-01 18:25:10
101,SBER,2023-12-01,18:30:00,274.58,274.93,274.57,274.81,0.0000,8458,23236704.0,...,197,201,9668588.0,13568116.0,3519,4939,-0.17,274.75,274.71,2023-12-01 18:30:10
102,SBER,2023-12-01,18:35:00,274.86,275.16,274.80,274.98,0.0001,11363,31250620.0,...,195,217,12164194.0,19086425.0,4423,6940,-0.22,275.02,275.02,2023-12-01 18:35:10
103,SBER,2023-12-01,18:40:00,274.95,275.56,274.88,275.01,0.0002,38315,105437992.0,...,361,360,52579247.0,52858744.0,19109,19206,0.00,275.15,275.22,2023-12-01 18:40:10

In [27]:
# Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам
pnd=stocks.tradestats(date='2023-02-02')

In [43]:
pnd

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,TimeValue
0,ABRD,2023-02-02,10:05:00,200.000,205.50,200.000,203.500,0.0023,6843,13979650.0,...,42,12906500.0,1073150.0,6313,530,0.85,204.400,202.500,2023-10-26 23:45:44,2023-02-02 10:05:00
1,AFKS,2023-02-02,10:05:00,12.752,12.80,12.750,12.767,0.0003,3446,4401314.0,...,130,2110706.0,2290607.0,1652,1794,-0.04,12.777,12.768,2023-10-26 23:45:44,2023-02-02 10:05:00
2,AFLT,2023-02-02,10:05:00,28.050,28.11,28.020,28.050,0.0006,13654,3830421.0,...,90,2034744.0,1795677.0,7249,6405,0.06,28.070,28.040,2023-10-26 23:45:44,2023-02-02 10:05:00
3,AGRO,2023-02-02,10:05:00,677.600,678.80,674.400,676.000,0.0014,661,447553.0,...,15,338888.0,108664.0,500,161,0.51,677.800,674.900,2023-10-26 23:45:44,2023-02-02 10:05:00
4,AKRN,2023-02-02,10:05:00,19882.000,19882.00,19098.000,19104.000,0.0012,1439,27813218.0,...,459,5772974.0,22040244.0,298,1141,-0.59,19372.000,19317.000,2023-10-26 23:45:44,2023-02-02 10:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17292,YAKG,2023-02-02,18:40:00,126.800,126.90,126.700,126.700,0.0005,62,78622.0,...,1,53282.0,25340.0,42,20,0.35,126.860,126.700,2023-10-26 23:47:03,2023-02-02 18:40:00
17293,YNDX,2023-02-02,18:40:00,2070.000,2070.60,2067.800,2067.800,0.0002,4425,9155322.0,...,99,1272715.0,7882606.0,615,3810,-0.72,2069.500,2068.900,2023-10-26 23:47:03,2023-02-02 18:40:00
17294,YRSB,2023-02-02,18:40:00,182.000,182.00,182.000,182.000,NaN,4,7280.0,...,1,0.0,7280.0,0,4,-1.00,NaN,182.000,2023-10-26 23:47:03,2023-02-02 18:40:00
17295,ZILL,2023-02-02,18:40:00,2350.000,2350.00,2350.000,2350.000,NaN,35,82250.0,...,2,0.0,82250.0,0,35,-1.00,NaN,2350.000,2023-10-26 23:47:03,2023-02-02 18:40:00
17296,ZVEZ,2023-02-02,18:40:00,4.510,4.54,4.495,4.540,0.0032,32,144205.0,...,20,22695.0,121510.0,5,27,-0.69,4.539,4.500,2023-10-26 23:47:03,2023-02-02 18:40:00

In [42]:
pnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17297 entries, 0 to 17296
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     17297 non-null  object
 1   tradedate  17297 non-null  object
 2   tradetime  17297 non-null  object
 3   pr_open    17297 non-null  float64
 4   pr_high    17297 non-null  float64
 5   pr_low     17297 non-null  float64
 6   pr_close   17297 non-null  float64
 7   pr_std     14245 non-null  float64
 8   vol        17297 non-null  int64
 9   val        17297 non-null  float64
 10  trades     17297 non-null  int64
 11  pr_vwap    17297 non-null  float64
 12  pr_change  17297 non-null  float64
 13  trades_b   17297 non-null  int64
 14  trades_s   17297 non-null  int64
 15  val_b      17297 non-null  float64
 16  val_s      17297 non-null  float64
 17  vol_b      17297 non-null  int64
 18  vol_s      17297 non-null  int64
 19  disb       17297 non-null  float64
 20  pr_vwap_b  15523 non-null  float64
 21  pr_vwap_s  14709 non-null  float64
 22  systime    17297 non-null  datetime64[ns]
 23  TimeValue  17297 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(13), int64(6), object(3)
memory usage: 3.2+ MB

In [38]:
pnd['tradedate']=pnd['tradedate'].astype(str)

In [39]:
pnd['tradetime']=pnd['tradetime'].astype(str)

In [41]:
pnd['TimeValue'] = pd.to_datetime(pnd['tradedate'] + ' ' + pnd['tradetime'])

In [ ]:
# Сбор данных по торгам в цикле
import pandas as pd
from datetime import datetime, timedelta
df = pd.DataFrame([])
#Устанавливаем начальную дату
start_date = datetime.strptime('2022-01-01', '%Y-%m-%d')

#Устанавливаем конечную дату
end_date = start_date + timedelta(days=699)

while start_date <= end_date:
# Извлекаем данные за текущую дату
    data = stocks.tradestats(date=start_date.strftime('%Y-%m-%d'))
    df = df.append(data, ignore_index=True) 
# Здесь обрабатываем извлеченные данные...
    print(start_date,' всего записей: ',len(data))
# Переходим к следующей дате
    start_date += timedelta(days=1)

In [53]:
#df=df.drop(['systime','TimeValueNext'], axis=1)
#df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,TimeValue
0,ABRD,2022-01-03,10:05:00,194.000,194.500,194.000,194.500,0.0007,65,126180.0,...,13,0,126180.0,0.0,65,0,1.00,194.100,NaN,2022-01-03 10:05:00
1,AFKS,2022-01-03,10:05:00,23.661,23.699,23.644,23.665,0.0005,1111,2629182.0,...,45,45,1169511.0,1459671.0,494,617,-0.11,23.674,23.658,2022-01-03 10:05:00
2,AFLT,2022-01-03,10:05:00,59.600,59.700,59.520,59.560,0.0004,6762,4029579.0,...,114,60,2891236.0,1138342.0,4851,1911,0.43,59.600,59.570,2022-01-03 10:05:00
3,AGRO,2022-01-03,10:05:00,1175.000,1191.000,1175.000,1189.400,0.0010,4680,5548400.0,...,205,88,3975534.0,1572866.0,3353,1327,0.43,1185.700,1185.300,2022-01-03 10:05:00
4,AKRN,2022-01-03,10:05:00,12596.000,12706.000,12420.000,12644.000,0.0021,471,5946618.0,...,93,41,4436762.0,1509856.0,351,120,0.49,12640.000,12582.000,2022-01-03 10:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7843743,YKENP,2023-12-01,18:40:00,0.689,0.689,0.689,0.689,0.0000,5,34450.0,...,5,0,34450.0,0.0,5,0,1.00,0.689,NaN,2023-12-01 18:40:00
7843744,YNDX,2023-12-01,18:40:00,2428.200,2433.600,2426.000,2429.000,0.0004,14151,34380772.0,...,249,245,17793122.0,16587649.0,7323,6828,0.03,2429.800,2429.400,2023-12-01 18:40:00
7843745,YRSB,2023-12-01,18:40:00,912.000,912.000,912.000,912.000,0.0000,1,9120.0,...,0,1,0.0,9120.0,0,1,-1.00,NaN,912.000,2023-12-01 18:40:00
7843746,YRSBP,2023-12-01,18:40:00,246.000,250.000,246.000,250.000,0.0081,2,4960.0,...,1,1,2500.0,2460.0,1,1,0.00,250.000,246.000,2023-12-01 18:40:00
7843747,ZILL,2023-12-01,18:40:00,3305.000,3305.000,3305.000,3305.000,0.0000,10,33050.0,...,2,0,33050.0,0.0,10,0,1.00,3305.000,NaN,2023-12-01 18:40:00

In [59]:
df.to_csv('Объединенный датасет с 01012022.csv', sep=';', index=False)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7843748 entries, 0 to 7843747
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   ticker     object
 1   tradedate  object
 2   tradetime  object
 3   pr_open    float64
 4   pr_high    float64
 5   pr_low     float64
 6   pr_close   float64
 7   pr_std     float64
 8   vol        int64
 9   val        float64
 10  trades     int64
 11  pr_vwap    float64
 12  pr_change  float64
 13  trades_b   int64
 14  trades_s   int64
 15  val_b      float64
 16  val_s      float64
 17  vol_b      int64
 18  vol_s      int64
 19  disb       float64
 20  pr_vwap_b  float64
 21  pr_vwap_s  float64
 22  TimeValue  datetime64[ns]
dtypes: datetime64[ns](1), float64(13), int64(6), object(3)
memory usage: 1.3+ GB

In [55]:
df = pd.read_csv('Объединенный датасет с 01012022_first.csv',  sep=';', index_col=None ,squeeze=True)

In [56]:
df['tradedate']=df['tradedate'].astype(str)
df['tradetime']=df['tradetime'].astype(str)

In [57]:
df['TimeValue'] = pd.to_datetime(df['tradedate'] + ' ' + df['tradetime'])

In [58]:
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,TimeValue
0,ABRD,2022-01-03,10:05:00,194.000,194.500,194.000,194.500,0.0007,65,126180.0,...,0,126180.0,0.0,65,0,1.00,194.100,NaN,2023-10-27 10:15:11,2022-01-03 10:05:00
1,AFKS,2022-01-03,10:05:00,23.661,23.699,23.644,23.665,0.0005,1111,2629182.0,...,45,1169511.0,1459671.0,494,617,-0.11,23.674,23.658,2023-10-27 10:15:11,2022-01-03 10:05:00
2,AFLT,2022-01-03,10:05:00,59.600,59.700,59.520,59.560,0.0004,6762,4029579.0,...,60,2891236.0,1138342.0,4851,1911,0.43,59.600,59.570,2023-10-27 10:15:11,2022-01-03 10:05:00
3,AGRO,2022-01-03,10:05:00,1175.000,1191.000,1175.000,1189.400,0.0010,4680,5548400.0,...,88,3975534.0,1572866.0,3353,1327,0.43,1185.700,1185.300,2023-10-27 10:15:11,2022-01-03 10:05:00
4,AKRN,2022-01-03,10:05:00,12596.000,12706.000,12420.000,12644.000,0.0021,471,5946618.0,...,41,4436762.0,1509856.0,351,120,0.49,12640.000,12582.000,2023-10-27 10:15:11,2022-01-03 10:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7843743,YKENP,2023-12-01,18:40:00,0.689,0.689,0.689,0.689,0.0000,5,34450.0,...,0,34450.0,0.0,5,0,1.00,0.689,NaN,2023-12-01 18:40:11,2023-12-01 18:40:00
7843744,YNDX,2023-12-01,18:40:00,2428.200,2433.600,2426.000,2429.000,0.0004,14151,34380772.0,...,245,17793122.0,16587649.0,7323,6828,0.03,2429.800,2429.400,2023-12-01 18:40:11,2023-12-01 18:40:00
7843745,YRSB,2023-12-01,18:40:00,912.000,912.000,912.000,912.000,0.0000,1,9120.0,...,1,0.0,9120.0,0,1,-1.00,NaN,912.000,2023-12-01 18:40:11,2023-12-01 18:40:00
7843746,YRSBP,2023-12-01,18:40:00,246.000,250.000,246.000,250.000,0.0081,2,4960.0,...,1,2500.0,2460.0,1,1,0.00,250.000,246.000,2023-12-01 18:40:11,2023-12-01 18:40:00
7843747,ZILL,2023-12-01,18:40:00,3305.000,3305.000,3305.000,3305.000,0.0000,10,33050.0,...,0,33050.0,0.0,10,0,1.00,3305.000,NaN,2023-12-01 18:40:11,2023-12-01 18:40:00

In [20]:
pnd['ticker'].value_counts()

ISKJ     104
GLTR     104
TATNP    104
YNDX     104
UPRO     104
        ...
RTGZ       6
TASBP      5
SAGOP      3
KTSBP      3
PRMB       1
Name: ticker, Length: 240, dtype: int64

In [21]:
pnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17297 entries, 0 to 17296
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     17297 non-null  object
 1   tradedate  17297 non-null  object
 2   tradetime  17297 non-null  object
 3   pr_open    17297 non-null  float64
 4   pr_high    17297 non-null  float64
 5   pr_low     17297 non-null  float64
 6   pr_close   17297 non-null  float64
 7   pr_std     14245 non-null  float64
 8   vol        17297 non-null  int64
 9   val        17297 non-null  float64
 10  trades     17297 non-null  int64
 11  pr_vwap    17297 non-null  float64
 12  pr_change  17297 non-null  float64
 13  trades_b   17297 non-null  int64
 14  trades_s   17297 non-null  int64
 15  val_b      17297 non-null  float64
 16  val_s      17297 non-null  float64
 17  vol_b      17297 non-null  int64
 18  vol_s      17297 non-null  int64
 19  disb       17297 non-null  float64
 20  pr_vwap_b  15523 non-null  float64
 21  pr_vwap_s  14709 non-null  float64
 22  systime    17297 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(13), int64(6), object(3)
memory usage: 3.0+ MB

## Orderstats
<p>Торговая статистика на основе <b>заявок</b>. Гранулярность данных 5 мин.</p>

In [13]:
# Данные по акциям SBER за период
sber.orderstats(date='2023-10-10', till_date='2023-10-18')

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,SBER,2023-10-10,10:05:00,12588,15586,4.008831e+09,5.575253e+09,1511580,2038427,265.21,...,3.640648e+09,4.970981e+09,1375738,1862514,264.63,266.90,3238252,8.611629e+09,24903,2023-10-25 21:26:47
1,SBER,2023-10-10,10:10:00,5567,6791,1.940628e+09,2.657036e+09,714584,1001512,271.57,...,1.463819e+09,2.290195e+09,545309,863399,268.44,265.25,1408708,3.754014e+09,9355,2023-10-25 21:26:47
2,SBER,2023-10-10,10:15:00,6289,5895,2.387144e+09,2.480124e+09,898471,933868,265.69,...,2.092585e+09,2.292207e+09,781963,864446,267.61,265.16,1646409,4.384792e+09,10078,2023-10-25 21:26:48
3,SBER,2023-10-10,10:20:00,5045,5893,1.633560e+09,2.521517e+09,615955,953957,265.21,...,1.478751e+09,2.284129e+09,559684,862257,264.21,264.90,1421941,3.762880e+09,9225,2023-10-25 21:26:50
4,SBER,2023-10-10,10:25:00,4320,4016,2.076028e+09,2.242749e+09,785969,846117,264.14,...,1.883450e+09,2.157313e+09,713452,815408,263.99,264.57,1528860,4.040763e+09,6779,2023-10-25 21:26:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,SBER,2023-10-18,18:20:00,1765,1116,6.838983e+08,4.998867e+08,255635,186558,267.53,...,6.554220e+08,4.855587e+08,245386,181153,267.10,268.04,426539,1.140981e+09,2534,2023-10-25 19:19:17
724,SBER,2023-10-18,18:25:00,3145,2375,1.330769e+09,1.509926e+09,476487,560629,279.29,...,1.275787e+09,1.475677e+09,462610,541702,275.78,272.41,1004312,2.751464e+09,5120,2023-10-25 19:19:18
725,SBER,2023-10-18,18:30:00,1881,1462,6.637554e+08,6.631706e+08,247751,232921,267.91,...,6.787407e+08,6.244161e+08,236977,221424,286.42,282.00,458401,1.303157e+09,3028,2023-10-25 19:19:20
726,SBER,2023-10-18,18:35:00,1021,931,3.392870e+08,4.721401e+08,126880,171894,267.41,...,3.283637e+08,4.403320e+08,122918,160394,267.14,274.53,283312,7.686956e+08,1695,2023-10-25 19:19:21
727,SBER,2023-10-18,18:40:00,3724,90109,2.015949e+09,2.930213e+10,754852,10940627,267.07,...,1.980979e+09,2.932482e+10,741951,10933738,267.00,268.20,11675689,3.130580e+10,93447,2023-10-25 21:13:27

In [8]:
# Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам
stocks.orderstats(date='2022-02-10').head()

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,ABIO,2023-10-10,10:00:00,384,421,12475618.0,26136863.0,10800,20900,115.510,...,2540423.0,2224920.0,2157,1822,117.780,122.110,3979,4765342.0,42,2023-10-10 10:00:21
1,ABRD,2023-10-10,10:00:00,343,227,10453174.0,10150396.0,3567,3213,293.100,...,50846.0,2984728.0,17,957,299.100,311.900,974,3035574.0,39,2023-10-10 10:00:21
2,AFKS,2023-10-10,10:00:00,1177,749,90676912.0,74590410.0,53107,41401,17.074,...,11183377.0,6133875.0,6397,3459,17.482,17.733,9856,17317252.0,159,2023-10-10 10:00:21
3,AFLT,2023-10-10,10:00:00,1455,808,36591537.0,82398678.0,92884,199320,39.390,...,467176.0,42608262.0,1165,104350,40.100,40.830,105515,43075438.0,87,2023-10-10 10:00:21
4,AGRO,2023-10-10,10:00:00,492,390,23522081.0,18425322.0,20206,14848,1164.100,...,3279681.0,534936.0,2756,448,1190.000,1194.100,3204,3814617.0,76,2023-10-10 10:00:21

## OrderBookstats
<p>Торговая статистика на основе <b>стакана заявок</b>. Гранулярность данных 5 мин.</p>

In [9]:
# Данные по акциям SBER за период
sber.obstats(date='2023-10-10', till_date='2023-10-18').head()

,ticker,tradedate,tradetime,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,SBER,2023-10-10,10:00:00,0.4,21.2,6.1,1335,786,313119,396049,...,1076143580,0.94,0.94,-0.12,-0.15,255.92,271.72,264.82,264.98,2023-10-10 11:30:00
1,SBER,2023-10-10,10:05:00,1.0,8.7,2.2,1387,856,3494236,4569636,...,1241102353,-0.11,-0.11,-0.13,-0.16,256.25,271.59,264.80,264.86,2023-10-11 11:57:08
2,SBER,2023-10-10,10:10:00,0.8,8.1,1.6,1401,922,3939252,5096615,...,1383499548,-0.04,-0.04,-0.13,-0.16,256.41,271.46,264.16,264.21,2023-10-11 11:57:12
3,SBER,2023-10-10,10:15:00,0.7,8.0,1.7,1450,939,4450639,5090687,...,1381519454,-0.20,-0.20,-0.07,-0.09,257.09,271.38,264.45,264.49,2023-10-11 11:57:12
4,SBER,2023-10-10,10:20:00,0.7,7.9,1.5,1473,968,4542218,5169086,...,1402256629,0.38,0.38,-0.06,-0.09,257.10,271.28,264.51,264.55,2023-10-11 11:57:13

In [10]:
# Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам
stocks.obstats(date='2023-10-10').head()

,ticker,tradedate,tradetime,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,ABIO,2023-10-10,10:00:00,15.1,146.9,92.6,155,160,8103,18959,...,23779942,0.62,0.61,-0.40,-0.44,114.500,125.43,118.790,119.890,2023-10-10 11:30:00
1,ABRD,2023-10-10,10:00:00,19.6,211.6,140.1,97,79,3523,2239,...,7116490,-0.56,-0.56,0.22,0.18,292.800,317.80,303.000,307.300,2023-10-10 11:30:00
2,AFKS,2023-10-10,10:00:00,4.0,61.1,25.6,406,321,45392,36711,...,66301774,-0.44,-0.44,0.11,0.08,16.992,18.06,17.564,17.609,2023-10-10 11:30:00
3,AFLT,2023-10-10,10:00:00,12.3,111.5,37.1,273,246,90852,96503,...,40436571,-0.99,-0.99,-0.03,-0.06,39.350,41.90,40.460,40.610,2023-10-10 11:30:00
4,AGRO,2023-10-10,10:00:00,10.0,90.3,70.2,190,170,17194,14194,...,17643759,0.12,0.12,0.10,0.06,1159.100,1243.00,1196.000,1204.400,2023-10-10 11:30:00