In [1]:
from moexalgo import Ticker, Market
import os
import pandas as pd

In [2]:
index = Market('index')

In [3]:
index.tickers()

      ticker  decimals                           shortname
0      IMOEX         2                     Индекс МосБиржи
1     IMOEX2         2        Индекс МосБиржи (все сессии)
2     MECHTR         4         MOEX Chemicals Total Return
3    MECHTRN         4            MOEX Chemicals Net TR-NR
4    MECHTRR         4           MOEX Chemicals Net TR-Res
..       ...       ...                                 ...
64   RUCBITR         2      Индекс Мосбиржи корп обл CBITR
65  RUCBTR3Y         2  Индекс Мосбиржи корп обл CBITR 3-5
66  RUCBTR5Y         2  Индекс Мосбиржи корп обл CBITR 1-3
67   RUMBICP         2  Индекс Мосбиржи мун обл MOEX MBICP
68   RUMBITR         2       Индекс Мосбиржи мун обл MBITR

[69 rows x 3 columns]

In [14]:
stock = Market('stocks')

In [15]:
stock.tickers()

    ticker   shortname  lotsize  ...          isin     regnumber  listlevel
0     ABIO  iАРТГЕН ао       10  ...  RU000A0JNAB6  1-01-08902-A          2
1     ABRD  АбрауДюрсо       10  ...  RU000A0JS5T7  1-02-12500-A          3
2     ACKO     АСКО ао      100  ...  RU000A0JXS91  1-01-52065-Z          3
3     AFKS  Система ао      100  ...  RU000A0DQZE3  1-05-01669-A          1
4     AFLT    Аэрофлот       10  ...  RU0009062285  1-01-00010-A          1
..     ...         ...      ...  ...           ...           ...        ...
243   YNDX  Yandex clA        1  ...  NL0009805522          None          1
244   YRSB     ТНСэнЯр       10  ...  RU000A0D8760  1-01-50099-A          3
245  YRSBP   ТНСэнЯр-п       10  ...  RU000A0D88B3  2-01-50099-A          3
246   ZILL      ЗИЛ ао        1  ...  RU0009086193  1-02-00036-A          3
247   ZVEZ   ЗВЕЗДА ао     1000  ...  RU0009091300  1-01-00169-D          3

[248 rows x 9 columns]

In [17]:
stock.tickers()

    ticker   shortname  lotsize  ...          isin     regnumber  listlevel
0     ABIO  iАРТГЕН ао       10  ...  RU000A0JNAB6  1-01-08902-A          2
1     ABRD  АбрауДюрсо       10  ...  RU000A0JS5T7  1-02-12500-A          3
2     ACKO     АСКО ао      100  ...  RU000A0JXS91  1-01-52065-Z          3
3     AFKS  Система ао      100  ...  RU000A0DQZE3  1-05-01669-A          1
4     AFLT    Аэрофлот       10  ...  RU0009062285  1-01-00010-A          1
..     ...         ...      ...  ...           ...           ...        ...
243   YNDX  Yandex clA        1  ...  NL0009805522          None          1
244   YRSB     ТНСэнЯр       10  ...  RU000A0D8760  1-01-50099-A          3
245  YRSBP   ТНСэнЯр-п       10  ...  RU000A0D88B3  2-01-50099-A          3
246   ZILL      ЗИЛ ао        1  ...  RU0009086193  1-02-00036-A          3
247   ZVEZ   ЗВЕЗДА ао     1000  ...  RU0009091300  1-01-00169-D          3

[248 rows x 9 columns]

In [18]:
sber = Ticker('SBER')

In [19]:
sber.info()

                  value
SHORTNAME      Сбербанк
LOTSIZE              10
DECIMALS              2
MINSTEP            0.01
ISSUESIZE   21586948000
ISIN       RU0009029540
LISTLEVEL             1

In [2]:
import yfinance as yf

In [3]:
ticker = yf.Ticker('SBER.ME')

In [5]:
ticker.financials

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-59991234283.690453,-8429301814.183617,-5984081502.706145,-1219091946.957056
Tax Rate For Calcs,0.267222,0.198804,0.202165,0.196628
Total Unusual Items,-224500000000.0,-42400000000.0,-29600000000.0,-6200000000.0
Total Unusual Items Excluding Goodwill,-224500000000.0,-42400000000.0,-29600000000.0,-6200000000.0
Net Income From Continuing Operation Net Minority Interest,418400000000.0,1170700000000.0,752600000000.0,914700000000.0
Reconciled Depreciation,NaN,NaN,116300000000.0,NaN
Net Interest Income,1963500000000.0,1836700000000.0,1671800000000.0,1501000000000.0
Interest Expense,1713600000000.0,862400000000.0,727500000000.0,895000000000.0
Interest Income,3677100000000.0,2699100000000.0,2399300000000.0,2396000000000.0
Normalized Income,582908765716.30957,1204670698185.816406,776215918497.293823,919680908053.042969
Net Income From Continuing And Discontinued Operation,275100000000.0,1250700000000.0,761100000000.0,844900000000.0
Diluted Average Shares,NaN,21500000000.0,22150756694.0,21916990921.0
Basic Average Shares,NaN,21500000000.0,22150756694.0,21916990921.0
Diluted EPS,NaN,56.98,34.36,38.55
Basic EPS,NaN,56.98,34.36,38.55
Diluted NI Availto Com Stockholders,275100000000.0,1250700000000.0,737500000000.0,844900000000.0
Net Income Common Stockholders,275100000000.0,1250700000000.0,737500000000.0,844900000000.0
Otherunder Preferred Stock Dividend,NaN,NaN,5200000000.0,NaN
Preferred Stock Dividends,NaN,NaN,18400000000.0,NaN
Net Income,275100000000.0,1250700000000.0,761100000000.0,844900000000.0
Minority Interests,4600000000.0,4800000000.0,800000000.0,-100000000.0
Net Income Including Noncontrolling Interests,270500000000.0,1245900000000.0,760300000000.0,845000000000.0
Net Income Discontinuous Operations,-143300000000.0,80000000000.0,8500000000.0,-69800000000.0
Net Income Continuous Operations,413800000000.0,1165900000000.0,751800000000.0,914800000000.0
Tax Provision,150900000000.0,289300000000.0,190500000000.0,223900000000.0
Pretax Income,564700000000.0,1455200000000.0,942300000000.0,1138700000000.0
Special Income Charges,-224500000000.0,-42400000000.0,-29600000000.0,-6200000000.0
Other Special Charges,NaN,NaN,NaN,4300000000.0
Write Off,224500000000.0,42400000000.0,23900000000.0,1900000000.0
Impairment Of Capital Assets,NaN,NaN,5700000000.0,4300000000.0
Gain On Sale Of Security,-33900000000.0,-8200000000.0,-72300000000.0,-20200000000.0
Operating Expense,910700000000.0,911700000000.0,1093100000000.0,1068000000000.0
Other Operating Expenses,0.0,0.0,104100000000.0,44600000000.0
Depreciation And Amortization In Income Statement,NaN,NaN,116300000000.0,NaN
Amortization,NaN,NaN,30400000000.0,NaN
Depreciation Income Statement,NaN,NaN,85900000000.0,NaN
Selling General And Administration,822000000000.0,834400000000.0,88100000000.0,724600000000.0
Selling And Marketing Expense,NaN,NaN,12500000000.0,NaN
General And Administrative Expense,822000000000.0,834400000000.0,75600000000.0,724600000000.0
Insurance And Claims,88700000000.0,77300000000.0,247000000000.0,294000000000.0
Rent And Landing Fees,NaN,NaN,61600000000.0,4800000000.0
Total Revenue,2150000000000.0,2548000000000.0,2498000000000.0,2305500000000.0
Operating Revenue,2150000000000.0,2548000000000.0,2498000000000.0,2305500000000.0

In [63]:
print(ticker.info.get('marketCap'))

848677568

In [53]:
from tqdm import tqdm

In [65]:
tickers = []
sectors = []
capitalizations = []

pbar = tqdm(os.listdir('data/d1/'))
for ticker_name in pbar:
    try:
        ticker_name = ticker_name.split('.')[0]
        pbar.set_description(ticker_name)
        tickers.append(ticker_name)

        ticker = yf.Ticker(f'{ticker_name}.ME')
        sector = ticker.info.get('sector')
        if sector is not None:
            sectors.append(sector)
        else:
            sectors.append('-')
        
        market_cap = ticker.info.get('marketCap')
        if market_cap is not None:
            capitalizations.append(market_cap)
        else:
            capitalizations.append('-')
    
    except Exception as e:
        print(ticker_name)
        print(e)


ticker_info = {
    'Ticker': tickers,
    'Sector': sectors,
    'MarketCap': capitalizations
}

NMTP: 100%|██████████| 247/247 [00:49<00:00,  4.97it/s]

In [67]:
ticker_info = pd.DataFrame(ticker_info)

In [70]:
ticker_info.to_csv('data/ticker_info.csv', index=False)

In [9]:
file_path = 'data/ticker_info.csv'
cap_data = pd.read_csv(file_path)
cap_data = cap_data[cap_data['MarketCap']!='-']
cap_data['MarketCap'] = cap_data['MarketCap'].astype(float)
print(cap_data.head())

  Ticker       Sector     MarketCap
0   KLSB    Utilities  6.525085e+08
1   SLEN    Utilities  8.486776e+08
2   SNGS       Energy  9.286974e+11
3   SIBN       Energy  1.841435e+12
4   MSTT  Industrials  2.263364e+10

In [10]:
cap_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries, 0 to 246
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ticker     219 non-null    object
 1   Sector     219 non-null    object
 2   MarketCap  219 non-null    float64
dtypes: float64(1), object(2)
memory usage: 6.8+ KB

In [12]:
top_10_tickers = cap_data.nlargest(10, 'MarketCap')['Ticker'].tolist()

In [13]:
top_10_tickers

['GAZP',
 'OMZZP',
 'ROSN',
 'NVTK',
 'SBER',
 'SBERP',
 'GMKN',
 'LKOH',
 'SIBN',
 'SNGSP']